body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00724c, #68ce51); /* Degradê aqui */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h1, h2 {
    text-align: center;
    color: #00724c; /* Cor do degradê para o título */
    margin-bottom: 25px;
}

h3 {
    color: #00724c;
    margin-top: 20px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

form button {
    background: linear-gradient(to right, #00724c, #68ce51); /* Degradê no botão */
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: opacity 0.3s ease;
}

form button:hover {
    opacity: 0.9;
}

.receipt-preview {
    border: 1px solid #eee;
    padding: 25px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

.receipt-preview p {
    margin-bottom: 5px; /* Reduz o espaço entre os parágrafos */
    line-height: 1.5;
}

.receipt-preview strong {
    color: #00724c;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    margin: 20px 0;
}

p.total {
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    color: #00724c;
}

#printReceipt {
    margin-top: 25px;
    background: linear-gradient(to right, #28a745, #5cb85c); /* Degradê para o botão de imprimir */
}

#printReceipt:hover {
    opacity: 0.9;
}

@media print {
    body * {
        visibility: hidden;
    }
    #receipt, #receipt * {
        visibility: visible;
    }
    #receipt {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    #printReceipt {
        display: none;
    }
}